{# Template for home view #}
{% raw %}
{% extends "site/base.html" %}

{% block content %}
{% endraw %}
    <div class="jumbotron text-center">
        <h1>{{ '{{' }} site_name {{ '}}' }}</h1>
        <p class="lead text-center">
            {{ '{{' }} site_tag_line {{ '}}' }}
        </p>
    </div>
{% raw %}
{% if request.user %}
{% endraw %}
    <p id="demo-text">
        Welcome {{ '{{' }} request.user.friendly_name {{ '}}' }}!
    </p>
{% raw %}
{% else %}
    <p id="demo-text">
        Welcome visitor!
    </p>
{% endif %}

{% endblock %}
{% endraw %}
